
@{
    ViewBag.Title = "CreateDocumentView";
    // enter your username
    Console.WriteLine("Enter your user name");

    // created a string variable and got users name input from the keyboard and store it in the variable 

    string userName = Console.ReadLine();

    // print the value of the variable (userName), which will display value 
    Console.WriteLine("Username is " + userName);
}
<form>
  <input type="submit" value="Submit" />
</form>

<h2>CreateDocumentView</h2>



